@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>
<br />
<br />
<br />

<form method="post">
    <div class="form-group">
        <label asp-for="Input.FullName"></label>
        <input asp-for="Input.FullName" class="form-control" />
        <span asp-validation-for="Input.FullName" class="text-danger"></span>
    </div><br />

    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div><br />

    <div class="form-group">
        <label asp-for="Input.Department"></label>
        <input asp-for="Input.Department" class="form-control" />
        <span asp-validation-for="Input.Department" class="text-danger"></span>
    </div><br />

    <div class="form-group">
        <label asp-for="Input.Role"></label>
        <select asp-for="Input.Role" class="form-control">
            <option value="Employee">Employee</option>
            <option value="Manager">Manager</option>
            <option value="HR Admin">HR Admin</option>
        </select>
        <span asp-validation-for="Input.Role" class="text-danger"></span>
    </div><br />

    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div><br />

    <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div><br /><br />

    <button type="submit" class="btn btn-primary">Register</button><br /><br /><br />
</form>
<br />
<br />
